@import url(./styles/colors.css);
@import url(./styles/test-build.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(./assets/icons/triforce-pointer.svg) 10 10, auto;
}
