.game-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  cursor: url(../assets/icons/triforce-pointer-gold.svg) 10 10, auto;
  background-color: var(--link-tunica);
  border: solid var(--forest-green-light) 0.5px;
  border-radius: var(--spacing-sm);
  box-shadow: -8px -5px 3px 4px var(--forest-green-dark);
  transition: transform 0.5s ease-in-out;

  &:hover{
      transform: translateY(-0.5rem) rotateY(2deg);
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: var(--spacing-md);
    div {
      width: 40%;
    }
    aside {
      text-align: center;
    }
  }
  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid none solid none;
    border-color: var(--master-sword);
    gap: 2rem;
    padding: var(--spacing-lm);
  }
  footer {
    padding-top: var(--spacing-sm);
    .comments-container {
      padding: var(--spacing-md);
      max-height: 160px;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: var(--master-sword) var(--link-tunica);

      .comment-container {
        display: flex;
        justify-content: space-between;
        padding: var(--spacing-sm) 0;
        .comment {
          max-width: 160px;
        }
      }
    }
    .input-container{
        display: flex;
        align-items: center;
        padding: var(--spacing-sm);
        input{
            flex-grow: 1;
            padding: 0.25rem;
            font-family: "Lato",sans-serif;
            background-color: var(--forest-green-light);
            border-style: none none solid none;

            &::placeholder{
                color: var(--gold-dark);
            }
        }
      }
  }
}
.game-info {
  display: flex;
  gap: 1.4rem;
  justify-content: space-between;
}

.like-section {
  text-align: center;
  aside {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
  }
}
