body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article{
    border: solid red 1px;
}

.game-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 400px;
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        aside{
            text-align: end;
        }
    }
}